//colors

$light-color: #fdf5df;
$lightest-color: #ffffff;
$accent-color: #f92c85;
$primary-color: #5ebec4;

//background image for header

$header-image: url("https://www.transparenttextures.com/patterns/dimension.png");
