header.user-welcome {
  height: 400px;
  width: 100%;
  background-color: #fdf5df;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
