/* styling for the user header */

header.user-welcome {
  height: 600px;
  width: 100%;
  padding-top: 200px;
  background-color: #fdf5df;
  background-image: url("https://www.transparenttextures.com/patterns/dimension.png");
}

header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
