html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #5ebec4;
  background-color: #fdf5df;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.4;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */
