/*
 * Global layout stuff
 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* General HTML tags */

body {
  color: #5ebec4;
  background-color: #fdf5df;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.4;
}

main {
  width: 90%;
  max-width: 1200px;
  align-self: center;
}

/* the wrapper that comes after the nav bar */
.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Media Queries */

@media screen and (min-width: 1024px) {
  .content-wrapper {
    flex-direction: row;
  }
}
