/* navigation bar styling */
nav {
  height: 120px;
  width: 100%;
  background-color: #5ebec4;
  z-index: 1;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
}
nav #new-tweeter {
  color: #ffffff;
}
nav #new-tweeter:hover {
  cursor: pointer;
}
nav #logo {
  font-family: "Bungee", cursive;
  color: #ffffff;
  font-size: 36px;
}
nav .container {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
nav .container .vertical {
  display: flex;
  flex-direction: column;
}
nav .fa-angle-double-down {
  color: #f92c85;
  align-self: center;
}
nav .fa-angle-double-down:hover {
  cursor: pointer;
  color: #ffffff;
}

/* styling for the scroll up button that appears in the bottom right of the page */
#scroll-up {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background-color: #f92c85;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scroll-up:hover {
  cursor: pointer;
  color: #ffffff;
}
