#tweet-text {
  width: 100%;
  height: 1.5em;
  border-width: 0px;
  border-bottom: 5px solid #545149;
  background-color: #f4f1ec;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: none;
}

.new-tweet label {
  font-weight: 600;
}

.new-tweet .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.btn-submit {
  background-color: #4056a1;
  padding: 0.25em 0.5em;
  border: 0px;
  color: #f4f1ec;
  font-weight: 600;
}

.counter {
  font-weight: 600;
  padding-right: 5px;
  font-family: "Bungee", cursive;
}
