/* styling for the new tweet form */
#tweet-text {
  width: 100%;
  height: 3em;
  border-width: 0px;
  border-bottom: 5px solid #5ebec4;
  background-color: #fdf5df;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 15px;
  resize: none;
  color: #f92c85;
}

#tweet-text:focus {
  outline: none;
  background-color: #fdf5df;
}

#tweet-text:hover {
  outline: none;
  background-color: #fdf5df;
}

.new-tweet label {
  font-weight: 600;
}
.new-tweet .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.new-tweet .btn-submit {
  background-color: #f92c85;
  padding: 0.25em 0.5em;
  border: 0px;
  color: #fdf5df;
  font-weight: 600;
}
.new-tweet .btn-submit:hover {
  cursor: pointer;
  color: #5ebec4;
}
.new-tweet .counter {
  font-weight: 600;
  padding-right: 5px;
  font-family: "Bungee", cursive;
}
.new-tweet .over-limit {
  color: #f92c85;
}
